{% load static %}
{% load my_tags %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>F&amp;N</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/shop.css' %}">
    <script src="https://unpkg.com/popper.js"></script>
    <script src="https://kit.fontawesome.com/81374fec9e.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="site-header sticky-top py-1">
        <div class="container d-flex flex-md-row justify-content-between">
            <a class="py-2"></a>
            <a class="py-2" href="/">F&amp;N</a>
            <div class="dropdown py-2">
                <div class="bag" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-shopping-bag fa-lg "></i>
                    <div class="badge counter">{{ bag_quantity }}</div>
                </div>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    {% for k, v in cart.items %}
                        <a class="dropdown-item d-flex text-reset" href="/product/{% get_slug_by_id k %}/" style="opacity: 1 !important;">
                            <div class="position-relative">
                                <img src="/{{ v|get_item:'main_image' }}" alt="product" class="p-2" style="width: 70px; height: 70px;">
                                <div class="badge counter quantity">{{ v|get_item:'quantity' }}</div>
                            </div>
                            <p class="pt-2">{{ v|get_item:'name' }}</p>
                        </a>
                    {% empty %}
                        <p class="text-center mt-2 mb-3">Ваша корзина пуста</p>
                    <div class="dropdown-divider"></div>
                    {% endfor %}
                    <a class="dropdown-item" href="/basket/">
                       <button class="btn btn-outline-secondary w-100" type="button">Перейти в корзину</button>
                    </a>
                </div>
            </div>
        </div>
    </nav>
  
    {% block content %}
    {% endblock %}

    <footer class="container py-5">
        <div class="row">
            <div class="col-12 col-md mb-3">F&amp;N</div>
            <div class="col-6 col-md">
                <div class="float-md-right">
                    <h5>О нас</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Кто мы?</a></li>
                        <li><a class="text-muted" href="#">...</a></li>
                        <li><a class="text-muted" href="#">...</a></li>
                    </ul>
                </div>
            </div>
           <div class="col-6 col-md">
               <div class="float-md-right">
                   <h5>Социальные сети</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Vk</a></li>
                        <li><a class="text-muted" href="#">Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>