{% extends 'shop/base.html' %}

{% block content %}
    <div class="pb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
              <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="border-0 bg-light">
                    <div class="p-2 px-3 text-uppercase">Продукт</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Цена</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Количество</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Удалить</div>
                  </th>
                </tr>
              </thead>
              <tbody>
{#                <tr>#}
{#                  <th scope="row" class="border-0">#}
{#                    <div class="p-2">#}
{#                      <img src="https://res.cloudinary.com/mhmd/image/upload/v1556670479/product-1_zrifhn.jpg" alt="" width="70" class="img-fluid rounded shadow-sm">#}
{#                      <div class="ml-3 d-inline-block align-middle">#}
{#                        <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block align-middle">Timex Unisex Originals</a></h5><span class="text-muted font-weight-normal font-italic d-block">Category: Watches</span>#}
{#                      </div>#}
{#                    </div>#}
{#                  </th>#}
{#                  <td class="border-0 align-middle"><strong>₽79.00</strong></td>#}
{#                  <td class="border-0 align-middle"><strong>3</strong></td>#}
{#                  <td class="border-0 align-middle"><a href="#" class="text-dark"><i class="fa fa-trash"></i></a></td>#}
{#                </tr>#}
{#                <tr>#}
{#                  <th scope="row">#}
{#                    <div class="p-2">#}
{#                      <img src="https://res.cloudinary.com/mhmd/image/upload/v1556670479/product-3_cexmhn.jpg" alt="" width="70" class="img-fluid rounded shadow-sm">#}
{#                      <div class="ml-3 d-inline-block align-middle">#}
{#                        <h5 class="mb-0"><a href="#" class="text-dark d-inline-block">Lumix camera lense</a></h5><span class="text-muted font-weight-normal font-italic">Category: Electronics</span>#}
{#                      </div>#}
{#                    </div>#}
{#                  </th>#}
{#                  <td class="align-middle"><strong>₽79.00</strong></td>#}
{#                  <td class="align-middle"><strong>3</strong></td>#}
{#                  <td class="align-middle"><a href="#" class="text-dark"><i class="fa fa-trash"></i></a>#}
{#                  </td>#}
{#                </tr>#}
{#                <tr>#}
{#                  <th scope="row">#}
{#                    <div class="p-2">#}
{#                      <img src="https://res.cloudinary.com/mhmd/image/upload/v1556670479/product-2_qxjis2.jpg" alt="" width="70" class="img-fluid rounded shadow-sm">#}
{#                      <div class="ml-3 d-inline-block align-middle">#}
{#                        <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block">Gray Nike running shoe</a></h5><span class="text-muted font-weight-normal font-italic">Category: Fashion</span>#}
{#                      </div>#}
{#                    </div>#}
{#                    </th>#}
{#                    <td class="align-middle"><strong>₽79.00</strong></td>#}
{#                    <td class="align-middle"><strong>3</strong></td>#}
{#                    <td class="align-middle"><a href="#" class="text-dark"><i class="fa fa-trash"></i></a>#}
{#                    </td>#}
{#                </tr>#}
              {% for item in cart %}
                  <tr id="block{{ item.id }}">
                  <th scope="row">
                    <div class="p-2">
                        <img src='{{ item.images }}' alt="" width="70" class="img-fluid rounded shadow-sm">
                      <div class="ml-3 d-inline-block align-middle">
                        <h5 class="mb-0"><a href="#" class="text-dark d-inline-block">{{ item.name }}</a></h5><span class="text-muted font-weight-normal font-italic">Категория: {{ item.category }}</span>
                      </div>
                    </div>
                  </th>
                  <td class="align-middle"><strong id="price{{ item.id }}">₽{{ item.total_price }}</strong></td>
                  <td class="align-middle">
                      <strong>
                           <div class="qty mt-5">
                        <span class="minus bg-dark" onClick="reply_click_minus('{{ item.id }}', {{ item.price }}, {{ item.quantity }})">-</span>
                        <input type="number" class="count" id="{{ item.id }}" name="qty" value="{{ item.quantity }}">
                        <span class="plus bg-dark" onClick="reply_click_plus('{{ item.id }}', {{ item.price }}, {{ item.quantity }})">+</span>
                    </div>
                      </strong>
                  </td>
                  <td class="align-middle"><a href="#" class="text-dark" onclick="remove_element('{{ item.id }}')">remove</a></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="row justify-content-md-center py-5 p-4 bg-white">
        <div class="col-md-auto">
          <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Полная стоимость </div>
          <div class="p-4">
            <p class="font-italic mb-4">Полная стоимость указывается без учета доставки.</p>
            <ul class="list-unstyled mb-4">
              <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Сумма</strong>
                <h5 class="font-weight-bold" id="total_price">₽{{ total_price }}</h5>
              </li>
            </ul><a href="/order/" class="btn btn-dark rounded-pill py-2 btn-block">Сделать заказ</a>
          </div>
        </div>
      </div>
        </div>
      </div>
    </div>
    </div>
    <script type="text/javascript">
    var total_price = {{ total_price }}
  function reply_click_plus(clicked_id, product_price, quantity)
  {
            $("#" + clicked_id).val(parseInt($("#" + clicked_id).val()) + 1 );
            $("#" + "price" + clicked_id).text("₽" + product_price * $("#" + clicked_id).val());
            $("#" + "total_price").text("₽" + (total_price + product_price));
            total_price += product_price;
            $.ajax({
                type: "POST",
                url: "/basket/#",
                data: {
                    product_id: clicked_id,
                    action: 1
                },
                async: false,
                {#success: function (msg) {#}
                {#    alert("Прибыли данные: " + msg);}#}

            });
  }
  function reply_click_minus(clicked_id, product_price, quantity)
  {

            $("#" + clicked_id).val(parseInt($("#" + clicked_id).val()) - 1 );
            $("#" + "price" + clicked_id).text("₽" + product_price * $("#" + clicked_id).val());
            $("#" + "total_price").text("₽" + (total_price - product_price));
            total_price -= product_price;
            $.ajax({
                type: "POST",
                url: "/basket/",
                data: {
                    product_id: clicked_id,
                    action: -1
                },
                async: false,
            });

  }
  function remove_element(element_id) {
    $("#block" + element_id).remove();
    $.ajax({
        type: "POST",
        url: "/basket/",
        data: {
            product_id: element_id,
            action: 0
        },
        async: false,
    });
  }
    </script>
{% endblock %}