{% extends 'shop/base.html' %}
{% load my_tags %}

{% block content %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal text-danger mb-1">F&N</h1>
            <p class="lead font-weight-normal">Прекрасное украшение для любого помещения - минималистичная ваза с граненой формой.</p>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>
    <div class="links-transition">
        {% for product in products %}
            {% if forloop.counter0|divisibleby:2 %}
                <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 color-shift">
            {% endif %}
            <div class="my-bg mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 py-3">
                    <h2 class="display-5">{{ product.name }}</h2>
                    <a class="py-2 text-primary" href="product/{{ product.slug }}">Узнать больше &rsaquo;</a>
                </div>
                <img src="/{{ product.main_option.images.first.path }}" class="img-fluid px-5 pb-5" alt="Responsive image">
            </div>
{#            Если последний и без пары, то добаить невидимую пару#}
            {% if forloop.last and forloop.counter0|divisibleby:2 %}
                <div class=" mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                </div>
            {% endif %}
            {% if not forloop.counter0|divisibleby:2 or not products.count|divisibleby:2 and products.count == forloop.counter %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}