{% extends 'shop/base.html' %}
{% load my_tags %}

{% block content %}
    <div class="p-3 p-md-5 mx-auto bg-light">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <img src="/{{ product.main_option.images.first.path }}" class="main-image img-fluid mb-3" alt="{{ product.name }}">
                    <div class="img-choices-container d-flex justify-content-center mb-4">
                        {% for image in product.main_option.images.all %}
                            <img src="/{{ image.path }}" alt="vase" class="img-choice" width="70">
                        {% endfor %}
                    </div>
                </div>
                <div class="d-block d-sm-none w-100"></div>
                <div class="col-12 col-sm-6">
                    <h2 class="text-center text-sm-left">{{ product.name }}</h2>
                    <p class="mt-4 mb-5">{{ product.description }}</p>
                    <p class="font-weight-bold currency" style="font-size: 1.6rem;">{{ product.price }}</p>
                    <form class="form-group mt-3 mb-4">
                        {% csrf_token %}
                        <div class="my-3">
                            <label for="quantity">Количество</label>
                            <input type="number" value="1" min="1" step="1" class="form-control w-25" id="quantity" name="quantity"/>
                        </div>
                            <button type="submit" class="btn btn-outline-primary">Добавить в корзину</button>
                    </form>
                    {% for opt_group in opt_groups %}
                        <p>{{ opt_group.name }}</p>
                        <div class="img-options-container d-flex justify-content-left mb-4">
                             {% for e in opt_group.options.all %}
                                 <img src="/{{ e.images.first.path }}" alt="vase" class="img-choice
                                {% if e.is_default %}active{% endif %}" width="70" data-id="{{ e.id }}">
                             {% endfor %}
                        </div>
                    {% endfor %}
                    <div class="options-attrs">
                        {% for attrs_title, attrs in product.attributes.items %}
                        <table class="table table-striped">
                            <tbody>
                                <p class="display-5 font-weight-bold">{{ attrs_title }}</p>
                                {% for attr_name, attr_val in attrs.items %}
                                    <tr>
                                        <td>{{ attr_name }}</td>
                                        <td class="w-25">{{ attr_val }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="/shop/static/js/product.js"></script>
    <script type="module">
        import {update_header} from '/shop/static/js/common.js';
        const optionsContainer = ".img-options-container";
        const chosenOptions = ".img-options-container .active";
        const optionsData = JSON.parse('{{ opts_data }}');
        const baseCost = '{{ product.price }}';
        const activeImage = $('.main-image');

        $('.img-choices-container').find('.img-choice').first().addClass('active');
        setBasePreferences();

        function setBasePreferences()
        {
            $(chosenOptions).each(function (i, e) {
                let curId = parseInt($(e).attr("data-id"));
                changeDataByOptions(null, curId);
            });
        }

        function changeDataByOptions(prevId, curId)
        {
            let prevObj = optionsData.find(x => x.pk === prevId);
            let curObj = optionsData.find(x => x.pk === curId);
            // Price
            let currency = $(".currency");
            let cost = parseInt(currency.text()) + parseInt(curObj.fields.delta);
            if (prevId)
                cost -= parseInt(prevObj.fields.delta);
            currency.text(cost);
            // Attributes
            replaceAttributes(curObj.fields.attributes, curId, prevId);
            //Compabilities
            setCompabilities(prevId, curObj);
        }

        function replaceAttributes(attributes, curId, prevId)
        {
            let optAttrsBlock = $('.options-attrs');
            optAttrsBlock.find(`[data-id="${prevId}"]`).remove();
            for (let k in attributes) {
                let table = $('<table>', {class: "table table-striped", "data-id": curId});
                table = table.append($('<tbody>'));
                table.prepend($('<p>', {class: "display-5 font-weight-bold", text: k}));
                for (let v in attributes[k]) {
                    let tr = $('<tr>');
                    tr.append($('<td>', {text: v}));
                    tr.append($('<td>', {text: attributes[k][v], class: "w-25"}));
                    table.append(tr);
                }
                optAttrsBlock.append(table);
            }
        }

        function setCompabilities(prevId, obj)
        {
            if (prevId)
                optionsData.find(x => x.pk === prevId).fields.no_compatible_options.forEach(function (e) {
                    $(optionsContainer).find(`[data-id="${e}"]`).removeClass('disabled');
                });
            obj.fields.no_compatible_options.forEach(function (e) {
                $(optionsContainer).find(`[data-id="${e}"]`).addClass('disabled');
            });
        }

        $('.form-group').submit(function (event) {
            event.preventDefault();
            let slug = '{{ product.slug }}';
            let dataToSent = $(this).serialize();
            $(chosenOptions).each(function (i, e) {
                dataToSent += "&options=" + $(e).attr("data-id");
            });
            $.post(`/product/${slug}/`, dataToSent, function () {
                update_header();
            });
        });

        $('.img-choices-container').mouseover(function (e) {
            let target = $(e.target);
            let choicesBlock = target.parent();
            if (target.hasClass('img-choice')) {
                choicesBlock.find('.active').removeClass('active');
                target.addClass('active');
                activeImage.attr('src', target.attr('src'))
            }
        });

        $(optionsContainer).click(function (e) {
            let target = $(e.target);
            let optionBlock = target.parent();
            if (target.hasClass('active'))
                activeImage.attr('src', target.attr('src'));
            else if (target.hasClass('img-choice') && !target.is('.disabled')) {
                let prevObj = optionBlock.find('.active');
                let prevId = parseInt(prevObj.attr('data-id'));
                let curId = parseInt(target.attr('data-id'));
                prevObj.removeClass('active');
                target.addClass('active');
                changeDataByOptions(prevId, curId);
                activeImage.attr('src', target.attr('src'))
            }
        });
    </script>
{% endblock %}