<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="/shop/static/bootstrap/css/bootstrap.min.css">
</head>

<body class="d-flex d-md-flex justify-content-center align-items-center align-content-center align-self-center m-auto justify-content-md-center align-items-md-center">
    <div class="row">
        <div class="col justify-content-center align-items-center align-content-center align-self-center">
            <div class="row">
                <div class="col text-center d-md-flex justify-content-md-center">
                    <h1 class="d-inline-flex d-md-flex justify-content-center align-items-center justify-content-md-center">Спасибо за заказ 🥳</h1>
                </div>
            </div>
            <div class="row">
                <div class="col d-md-flex justify-content-md-center">
                    <p class="d-lg-flex justify-content-lg-center align-items-lg-center">Через &nbsp; <span onload="timer()" id="timer_inp">10</span> &nbsp; секунд вы будуту возвращены на главную страницу.</p>
                </div>
            </div>
        </div>
    </div>
    <script src="/shop/static/jquery.js"></script>
    <script src="/shop/static/bootstrap/js/bootstrap.min.js"></script>
    <script>
        function timer() {

            var myAddress = '/'; // адрес страницы, на которую нужно перейти
            var obj = document.getElementById('timer_inp');
            obj.innerHTML--;

            if (obj.innerHTML == 0) {
                location.href = myAddress;
            } else {
                setTimeout(timer, 1000);
            }
        }
            setTimeout(timer,1000);
    </script>
</body>

</html>
{#{% extends 'shop/base.html' %}#}
{##}
{#{% block content %}#}
{#    <div class="row">#}
{#        <div class="col">#}
{#            <h1 class="d-lg-flex justify-content-lg-center align-items-lg-center" style="padding-top: 30px;">Спасибо за заказ 🥳</h1>#}
{#        </div>#}
{#    </div>#}
{#    <div class="row">#}
{#        <div class="col">#}
{#            <p class="d-lg-flex justify-content-lg-center align-items-lg-center">Через &nbsp; <span onload="timer()" id="timer_inp">10</span> &nbsp; секунд вы будуту возвращены на главную страницу.</p>#}
{#        </div>#}
{#    </div>#}
{#    <script>#}
{#    function timer() {#}
{##}
{#        var myAddress = '/'; // адрес страницы, на которую нужно перейти#}
{#        var obj = document.getElementById('timer_inp');#}
{#        obj.innerHTML--;#}
{##}
{#        if (obj.innerHTML == 0) {#}
{#            location.href = myAddress;#}
{#        } else {#}
{#            setTimeout(timer, 1000);#}
{#        }#}
{#    }#}
{#        setTimeout(timer,1000);#}
{#    </script>#}
{#{% endblock %}#}