{% extends 'shop/base.html' %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1 class="d-lg-flex justify-content-lg-center align-items-lg-center" style="padding-top: 30px;">Спасибо за заказ 🥳</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="d-lg-flex justify-content-lg-center align-items-lg-center">Через &nbsp; <span onload="timer()" id="timer_inp">10</span> &nbsp; секунд вы будуту возвращены на главную страницу.</p>
        </div>
    </div>
    <script>
    function timer() {

        var myAddress = '/'; // адрес страницы, на которую нужно перейти
        var obj = document.getElementById('timer_inp');
        obj.innerHTML--;

        if (obj.innerHTML == 0) {
            location.href = myAddress;
        } else {
            setTimeout(timer, 1000);
        }
    }
        setTimeout(timer,1000);
    </script>
{% endblock %}